@import "reset.css";
@font-face {
  font-family: 'OCRF-RegularC';

src: url('../fonts/OCRF-RegularC.otf');

font-weight: 400;

font-style: normal;
}
@font-face {
  font-family: 'OCRF-LightC';

src: url('../fonts/OCRF-LightC.otf');

font-weight: 200;

font-style: normal;
}

body {
  background-color: #1B2547;
  width: 1024px;
  height: 745px;
  cursor: url('../img/cursor.png'), auto;
}

.back-to-map {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

/* ТЕКСТ */

h1 {
  font-size: 48px;
  font-family: 'OCRF-RegularC';
  font-weight: 400;
  color: #27FFF2;
}

p {
  font-size: 11;
  font-family: 'OCRF-LightC';
  font-weight: 200;
  color: #27FFF2;
}

.planet-text-name {
  position: absolute;
  bottom: 2vw;
  z-index: 5;
  left: 6vw;
  width: 40vw;
  display: none;
}

.planet-name {
  margin-top: 2vw;
  display: none;
}

.planet-decr {
  display: none;
}



.planet-text-land {
  position: absolute;
  top: 33vw;
  left: 6vw;
  width: 20vw;
}

.planet-land-name {
  font-size: 24px;
  font-family: 'OCRF-RegularC';
  margin-bottom: 2vw;
  display: none;
}

.planet-land-decr {
  font-family: 'OCRF-LightC';
  margin-bottom: 1vw;
  display: none;
}

.planet-land-decr2 {
  font-family: 'OCRF-LightC';
  display: none;
}

.planet-text-char {
  position: absolute;
  top: 47vw;
  left: 71vw;
  width: 20vw;
  z-index: 5;
}

.planet-char-name {
  font-size: 24px;
  font-family: 'OCRF-RegularC';
  margin-bottom: 2vw;
  display: none;
}

.planet-char-decr {
  font-family: 'OCRF-LightC';
  display: none;
}

/* РАМКИ */

.framelt {
  position: fixed;
  top: 2vw;
  left: 2vw;
}
.framelb {
  position: fixed;
  left: 2vw;
  bottom: 2vw;
  transform: rotate(-90deg);
}
.framert {
  position: fixed;
  top: 2vw;
  right: 2vw;
  transform: rotate(90deg);
}
.framerb {
  position: fixed;
  bottom: 2vw;
  right: 2vw;
  transform: rotate(180deg);
}

/* КУРСОР */

.pointer {
  cursor: url('../img/pointercursor.png'), auto;
}

/* ПЛАНЕТЫ */

.insect-planet {
  transition: 600ms ease;
  width: 28vw;
  position: absolute;
  animation: flyingins 4s ease-in-out infinite;
}

@keyframes flyingins {
  0% {
    transform: translate(66vw,29vw) rotate(25deg);
  }

  50% {
    transform: translate(66vw,28vw) rotate(25deg);
  }

  100% {
    transform: translate(66vw,29vw) rotate(25deg);
  }
}

.octopus-planet {
  transition: 600ms ease;
  width: 15vw;
  position: absolute;
  z-index: 1;
  left: 50vw;
  top: 5vw;
  animation: flyingoct 4s ease-in-out infinite;
}

@keyframes flyingoct {
  0% {
    transform: translateY(5vw) rotate(25deg);
  }

  50% {
    transform: translateY(6vw) rotate(25deg);
  }

  100% {
    transform: translateY(5vw) rotate(25deg);
  }
}

.poison-planet {
  transition: 600ms ease;
  width: 40vw;
  position: absolute;
  animation: flyingpoi 4s ease-in-out infinite;
}

@keyframes flyingpoi {
  0% {
    transform: translate(-1vw,8vw) rotate(-20deg);
  }

  50% {
    transform: translate(-1vw,7vw) rotate(-20deg);
  }

  100% {
    transform: translate(-1vw,8vw) rotate(-20deg);
  }
}

.destroyed-planet {
  transition: 600ms ease;
  width: 25vw;
  position: absolute;
  animation: flyingdes 4s ease-in-out infinite;
}

@keyframes flyingdes {
  0% {
    transform: translate(30vw,45vw) rotate(-25deg);
  }

  50% {
    transform: translate(30vw,46vw) rotate(-25deg);
  }

  100% {
    transform: translate(30vw,45vw) rotate(-25deg);
  }
}

/* ТАРГЕТЫ */

.target {
  z-index: 3;
  width: 10vw;
  position: absolute;
}

#insecttarget {
  transform: translate(68vw,44vw);
  animation: targ1 4s ease-in-out infinite;
}

@keyframes targ1 {
  0% {
    transform: translate(68vw,45vw) rotate(0deg);
  }

  50% {
    transform: translate(68vw,44vw) rotate(25deg);
  }

  100% {
    transform: translate(68vw,45vw) rotate(0deg);
  }
}

#poisontarget {
  transform: translate(24vw,24vw);
  animation: targ2 4s ease-in-out infinite;
}

@keyframes targ2 {
  0% {
    transform: translate(24vw,25vw) rotate(0deg);
  }

  50% {
    transform: translate(24vw,24vw) rotate(25deg);
  }

  100% {
    transform: translate(24vw,25vw) rotate(0deg);
  }
}

#octotarget {
  width: 10vw;
  transform: translate(59vw,16vw);
  animation: targ3 4s ease-in-out infinite;
}

@keyframes targ3 {
  0% {
    transform: translate(59vw,16vw) rotate(0deg);
  }

  50% {
    transform: translate(59vw,17vw) rotate(45deg);
  }

  100% {
    transform: translate(59vw,16vw) rotate(0deg);
  }
}

#destoyedtarget {
  transform: translate(48vw,51vw);
  animation: targ4 4s ease-in-out infinite;
}

@keyframes targ4 {
  0% {
    transform: translate(48vw,51vw) rotate(0deg);
  }

  50% {
    transform: translate(48vw,52vw) rotate(45deg);
  }

  100% {
    transform: translate(48vw,51vw) rotate(0deg);
  }
}


#octotargetland {
  width: 0vw;
  animation: targ6 4s ease-in-out infinite;
  display: none;
}
@keyframes targ6 {
  0% {
    transform: translate(25vw,36vw) rotate(0deg);
  }

  50% {
    transform: translate(25vw,37vw) rotate(45deg);
  }

  100% {
    transform: translate(25vw,36vw) rotate(0deg);
  }
}

#octotargetchar {
  width: 0vw;
  animation: targ7 4s ease-in-out infinite;
  display: none;
}

@keyframes targ7 {
  0% {
    transform: translate(50vw,25vw) rotate(0deg);
  }

  50% {
    transform: translate(50vw,26vw) rotate(45deg);
  }

  100% {
    transform: translate(50vw,25vw) rotate(0deg);
  }
}

/* ОБЪЕКТЫ НА ПЛАНЕТАХ */

.octocircleland {
  z-index: 5;
  position: absolute;
  width: -10vw;
  display: none;
  transform: translate(32vw,40vw)

}
.octocirclechar {
  z-index: 5;
  position: absolute;
  width: -10vw;
  display: none;
  transform: translate(54vw,30vw)
}


.star {
  width: 1vw;
  animation: starblinking 2s infinite;
  transform-origin: center;
}

#octo-stripe-land {
  position: absolute;
  z-index: 5;
  display: none;
  transform: translate(5vw,34vw)
}
#octo-stripe-char {
  position: absolute;
  z-index: 5;
  display: none;
  transform: translate(53vw,29vw)
}

.octopuslineland {
}
.octopuslinechar {
}

.octopuslandimg {
  display: none;
  position: absolute;
  width: 18vw;
  top: 23vw;
  left: 5vw;
}
.octopuscharimg {
  display: none;
  position: absolute;
  width: 22vw;
  top: 21vw;
  left: 68vw;
}
