@import "reset.css";

html {
  /* overflow-x: hidden; */
}
body {
  /* overflow-x: hidden; */
  background-color: #1B2547;
  width: 1024px;
  height: 745px;
  cursor: url('../img/cursor.png'), auto;
}

.framelt {
  position: fixed;
  top: 2vw;
  left: 2vw;
}
.framelb {
  position: fixed;
  left: 2vw;
  bottom: 2vw;
  transform: rotate(-90deg);
}
.framert {
  position: fixed;
  top: 2vw;
  right: 2vw;
  transform: rotate(90deg);
}
.framerb {
  position: fixed;
  bottom: 2vw;
  right: 2vw;
  transform: rotate(180deg);
}

.pointer {
  cursor: url('../img/pointercursor.png'), auto;
}

.insect-planet {
  width: 28vw;
  position: absolute;
  transform: translate(66vw,28vw) rotate(25deg);
  animation: flyingins 4s ease-in-out infinite;
}

@keyframes flyingins {
  0% {
    transform: translate(66vw,29vw) rotate(25deg);
  }

  50% {
    transform: translate(66vw,28vw) rotate(25deg);
  }

  100% {
    transform: translate(66vw,29vw) rotate(25deg);
  }
}

.octopus-planet {
  width: 15vw;
  position: absolute;
  z-index: 1;
  left: 50vw;
  top: 5vw;
  animation: flyingoct 4s ease-in-out infinite;
}

@keyframes flyingoct {
  0% {
    transform: translateY(5vw) rotate(25deg);
  }

  50% {
    transform: translateY(6vw) rotate(25deg);
  }

  100% {
    transform: translateY(5vw) rotate(25deg);
  }
}

.poison-planet {
  width: 40vw;
  position: absolute;
  transform: translate(-1vw,7vw) rotate(-20deg);
  animation: flyingpoi 4s ease-in-out infinite;
}

@keyframes flyingpoi {
  0% {
    transform: translate(-1vw,8vw) rotate(-20deg);
  }

  50% {
    transform: translate(-1vw,7vw) rotate(-20deg);
  }

  100% {
    transform: translate(-1vw,8vw) rotate(-20deg);
  }
}

.destroyed-planet {
  width: 25vw;
  position: absolute;
  transform: translate(30vw,45vw) rotate(-25deg);
  animation: flyingdes 4s ease-in-out infinite;
}

@keyframes flyingdes {
  0% {
    transform: translate(30vw,45vw) rotate(-25deg);
  }

  50% {
    transform: translate(30vw,46vw) rotate(-25deg);
  }

  100% {
    transform: translate(30vw,45vw) rotate(-25deg);
  }
}


.target {
  z-index: 3;
  width: 10vw;
  position: absolute;
}

.target.insect {
  transform: translate(68vw,44vw);
  animation: targ1 4s ease-in-out infinite;
}

@keyframes targ1 {
  0% {
    transform: translate(68vw,45vw) rotate(0deg);
  }

  50% {
    transform: translate(68vw,44vw) rotate(25deg);
  }

  100% {
    transform: translate(68vw,45vw) rotate(0deg);
  }
}

.target.poison {
  transform: translate(24vw,24vw);
  animation: targ2 4s ease-in-out infinite;
}

@keyframes targ2 {
  0% {
    transform: translate(24vw,25vw) rotate(0deg);
  }

  50% {
    transform: translate(24vw,24vw) rotate(25deg);
  }

  100% {
    transform: translate(24vw,25vw) rotate(0deg);
  }
}

.target.octopus {
  transform: translate(59vw,16vw);
  animation: targ3 4s ease-in-out infinite;
}

@keyframes targ3 {
  0% {
    transform: translate(59vw,16vw) rotate(0deg);
  }

  50% {
    transform: translate(59vw,17vw) rotate(45deg);
  }

  100% {
    transform: translate(59vw,16vw) rotate(0deg);
  }
}

.target.destroyed {
  transform: translate(48vw,51vw);
  animation: targ4 4s ease-in-out infinite;
}

@keyframes targ4 {
  0% {
    transform: translate(48vw,51vw) rotate(0deg);
  }

  50% {
    transform: translate(48vw,52vw) rotate(45deg);
  }

  100% {
    transform: translate(48vw,51vw) rotate(0deg);
  }
}

#octotargetland {
  display: none;
  width: -10vw;
  animation: targ5 4s ease-in-out infinite;
}
@keyframes targ5 {
  0% {
    transform: translate(55vw,18vw) rotate(0deg);
  }

  50% {
    transform: translate(55vw,19vw) rotate(45deg);
  }

  100% {
    transform: translate(55vw,18vw) rotate(0deg);
  }
}

#octotargetchar {
  display: none;
  width: -10vw;
  animation: targ6 4s ease-in-out infinite;
}
@keyframes targ6 {
  0% {
    transform: translate(30vw,46vw) rotate(0deg);
  }

  50% {
    transform: translate(30vw,47vw) rotate(45deg);
  }

  100% {
    transform: translate(30vw,46vw) rotate(0deg);
  }
}

.star {
  width: 3vw;
  animation: starblinking 2s infinite;
  transform-origin: center;
}

@keyframes starblinking {
  0% {
    transform: scale(1.5);
    opacity: 1;
  }

  50% {
    transform: scale(1);
    opacity: 0;
  }

  100% {
    transform: scale(1.5);
    opacity: 1;
  }
}
